.cart{
    position: sticky;
    top: 10px;
}

.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.bold{
    font-weight: bold;
}